* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
}
body {
  background: hsl(216, 12%, 8%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-wrapper {
  padding: 30px;
  background: hsl(210, 24%, 13%);
  border-radius: 30px;
  z-index: 5;
}
.inactive-inner-wrapper {
  opacity: 0;
  z-index: -5;
}
.upper-part {
  display: flex;
  margin-bottom: 25px;
}
.upper-part span {
  padding: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(211, 24%, 17%);
}
.middle-part {
  margin-bottom: 20px;
  margin-bottom: 30px;
}
.middle-part h1 {
  font-size: 28px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
}
.middle-part p {
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-part button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  font-weight: 400;
  background: hsl(213, 17%, 21%);
  cursor: pointer;
  transition: 0.2s;
}
.middle-part button:hover {
  color: white;
  background: hsl(217, 12%, 63%);
}
.middle-part button:focus {
  color: white;
  background: hsl(25, 97%, 53%);
}
.lower-part button {
  font-size: 15px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1px;
  padding: 12px;
  background: hsl(25, 97%, 53%);
  border: none;
  border-radius: 50px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}
.lower-part button:hover {
  color: hsl(25, 97%, 53%);
  background: hsl(0, 0%, 100%);
}

/* Thank You State design start */

.thank-you-state-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.tystate-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 25px;
  border-radius: 30px;
  background: hsl(207, 26%, 13%);
}
.tystate-upper-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.tystate-upper-part img {
  margin-bottom: 30px;
}
.tystate-upper-part span {
  color: hsl(25, 97%, 53%);
}
.tystate-upper-part div {
  padding: 6px 18px;
  border-radius: 20px;
  text-align: center;
  background: hsl(214, 18%, 23%);
  color: hsl(25, 97%, 53%);
}
.tystate-lower-part {
  text-align: center;
}
.tystate-lower-part h1 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
.tystate-lower-part p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: hsl(217, 12%, 63%);
}

